*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
p {
  padding: 0px;
  margin: 0px;
}
.gulf_page_wrapper {
  width: 100%;
  height: 100%;
}
/******************* DEFAULT FONT ***************************/
p._large {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
}
p._sm {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
/******************* DEFAULT ***************************/
.page__padding {
  padding-right: 20%;
  padding-left: 20%;
}
/******************* DEFAULT ***************************/
/******************* HEADER ***************************/
.gulf_page_header {
  height: 94px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gulf_page_logo h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #454444;
  text-transform: uppercase;
}
._bg_color {
  color: #f4781f !important;
}
.gulf_page_inspection {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7c7c7c;
  padding-bottom: 0.5em;
}
/******************* HEADER ***************************/
/******************* NAVIGATION ***************************/
.gulf_page_nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.gulf_nav {
  margin: 0px !important;
  padding: 0px !important;
}
.gulf_nav_item {
  display: inline;
  margin-left: 3em;
}
.gulf_nav_link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #454444;
}
.gulf_nav_link:active,
.gulf_nav_link:hover,
.active {
  color: #f4781f;
  text-decoration: none;
}
/******************* HERO ***************************/
.gulf_hero {
  width: 100%;
  height: 806px;
  background: url("../images/pexels-janrune-smenes-reite-3207536 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gulf_hero_text_container {
  max-width: 100%;
  margin-top: auto;
  padding-bottom: 48px;
}
.gulf_hero_header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
.gulf_hero_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #c4c4c4;
}
/******************* START WHAT WE DO ***************************/
._what_we_do {
  padding-top: 48px;
  padding-bottom: 56px;
}
.__section__header {
  width: 100%;
  border-bottom: 5px solid #f4781f !important;
  padding: 0px !important;
}
.__section__header h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #f4781f;
  margin-bottom: 0px !important;
}
.__text__section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.__product_audit {
  padding-top: 40px;
}
.__text__section p {
  color: #454444;
}
.__section__images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.__image_card {
  width: 247px;
  height: 249px;
  margin-bottom: 10px;
  display: flex;
  color: #ffffff;
  padding: 190px 18px 18px 18px;
}
.__grain {
  background-image: url("../images/Rectangle 16.svg");
}
.__bars {
  background-image: url("../images/Rectangle 19.svg");
}
.__pipes {
  background-image: url("../images/Rectangle 18.svg");
}
.__gold {
  background-image: url("../images/Rectangle 20.svg");
}
.__cargo {
  background-image: url("../images/Rectangle 21.svg");
}
.__vessel {
  background-image: url("../images/Rectangle 22.svg");
}
.__bulk {
  background-image: url("../images/Rectangle 23.svg");
}
/******************* END WHAT WE DO ***************************/
/******************* START WHO ARE WE ***************************/
.__who_we_are {
  width: 100%;
  background: rgba(244, 120, 31, 0.2);
  padding-top: 48px;
  padding-bottom: 86px;
}
.__text__and__image {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
._what_we_do_image {
  width: 430px;
  height: 313px;
}
._what_we_do_text {
  width: 613px;
}
._what_we_do_text p {
  line-height: 25px;
  color: #454444;
}
.__gulf_inspection {
  background-image: url("../images/image 3.svg");
  margin-bottom: 50px;
}
.__the_company {
  background-image: url("../images/image 5.svg");
}
/******************* END WHO ARE WE ***************************/
/******************* START OUR PURPOSE ***************************/
.__our_purpose {
  padding-top: 48px;
  padding-bottom: 143px;
}
.__purpose__inner {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.__purpose__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
._side {
  width: 25%;
}
.__middle {
  width: 35%;
}
.___text__header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #454444;
  padding-top: 41px;
  padding-bottom: 16px;
  margin-bottom: 0px!important;
}
._purpose_text{
  color: #454444;
  text-align: left;
}
/******************* END OUR PURPOSE ***************************/

/****************** START LARGE SCREENS ******************/
@media screen and (max-width: 1300px) {
}
/******************  END LARGE SCREENS ******************/

/****************** START TABLET  SCREENS ******************/

/****************** START TABLET SCREENS ******************/
